<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>canteen</display-name>
   <display-name>lateReturn</display-name>
  <filter>
    <filter-name>encodings</filter-name>
    <filter-class>com.gxuwz.filter.encoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodings</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>register</filter-name>
    <filter-class>com.gxuwz.filter.register</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>register</filter-name>
    <url-pattern>/path/*</url-pattern>
  </filter-mapping>
   <welcome-file-list>
    <welcome-file>adminLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.loginServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.adminServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>accountantServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.accountantServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>buyerServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.buyerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>staffServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.staffServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>canteenAdminServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.canteenAdminServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>cashierServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.cashierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.menuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderingServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.orderingServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>takefoodrecordServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.takefoodrecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shoppinglistServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.shoppinglistServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>detaillistServlet</servlet-name>
    <servlet-class>com.gxuwz.servlet.detaillistServlet</servlet-class>
  </servlet>
 <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/servlet/adminServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>accountantServlet</servlet-name>
    <url-pattern>/servlet/accountantServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>buyerServlet</servlet-name>
    <url-pattern>/servlet/buyerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>staffServlet</servlet-name>
    <url-pattern>/servlet/staffServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>canteenAdminServlet</servlet-name>
    <url-pattern>/servlet/canteenAdminServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>cashierServlet</servlet-name>
    <url-pattern>/servlet/cashierServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/servlet/menuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderingServlet</servlet-name>
    <url-pattern>/servlet/orderingServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>takefoodrecordServlet</servlet-name>
    <url-pattern>/servlet/takefoodrecordServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>shoppinglistServlet</servlet-name>
    <url-pattern>/servlet/shoppinglistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>detaillistServlet</servlet-name>
    <url-pattern>/servlet/detaillistServlet</url-pattern>
  </servlet-mapping>
</web-app>